@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

html {
  font-family: "Poppins", "san-serif";
}

.nav-bar {
  margin: 0.5rem 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.compound {
  font-size: 22px;
  font-weight: 600;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

ul > li {
  align-items: center;
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 5px;
  cursor: pointer;
  border-radius: 36px;
  padding: 6px 11px;
  font-size: small;
  font-weight: 600;
}

ul > li:hover {
  background-color: #d8dfe5;
}

.market {
  background-color: #d8dfe5;
  border-radius: 36px;
  padding: 6px 11px;
}

.right-side {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 10px;
}

.right-side-text-container:hover {
  background-color: rgba(13, 19, 26, 0.05);
  border-radius: 10px;
}

.black-img {
  position: relative;
  right: 5px;
  z-index: 10;
}

.usdc {
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
}

.ethereum-text {
  color: #7a8a99;
  font-size: 14px;
  font-weight: 500;
}

.connect-btn {
  border: 1px solid #00ad79;
  background-color: transparent;
  padding: 14px 16px;
  border-radius: 50px;
  font-size: 11px;
  margin-left: 12px;
  font-weight: 600;
}
